<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Angular JS by Rahul J Rajput</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="js/angular.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container" ng-app="myApp">
    <header>
        <h1>Search Engine</h1>
        <input type="search" ng-model="query" />
    </header>
    <div class="box" ng-controller="myController">
        <div class="list" ng-repeat="item in writer | filter: query">
            <div>
                <p  class="msg">{{ item.greeting }}</p>
            </div>
            <h2>
                <i class="fa fa-{{ item.gender }}"></i> {{item.name}} ({{ item.balance }})
            </h2>
                <label>Eye Color </label>
                <span class="glyphicon glyphicon-eye-open" style="color: {{ item.eyeColor}};"></span>
                <span class="glyphicon glyphicon-eye-open" style="color: {{ item.eyeColor}};"></span>
            <img class="image" src="{{ item.picture }}">
            <p>Age {{ item.age }}</p>
            <div class="about">{{ item.about }}</div>
            <div class="friends">
                <div ng-repeat="items in item.friends">
                    <strong>Friend {{ items.id + 1}}. {{ items.name }}</strong>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/script.js"></script>
</body>
</html>